<div class="add-record">
  <p class="h3">Add record</p>
  <form [formGroup]="recordForm" (ngSubmit)="dataToRecord()" class="add-record-form">
    <div class="form-group">
      <label for="date">Jogging date:</label>
      <input type="date" class="form-control" id="date" aria-describedby="dateHelp" formControlName="date">
    </div>
    <div class="form-group">
      <label for="distance">Distance (m)</label>
      <input type="number" class="form-control" id="distance" placeholder="0" required formControlName="distance">
    </div>
    <div class="form-group">
      <label for="time">Time (s)</label>
      <input type="number" class="form-control" id="time" placeholder="0" required formControlName="time">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
